html {
  background-image: url("https://www.wallpaperup.com/uploads/wallpapers/2013/01/22/30766/bfb98daaef3de0328e086906f41cbc4f.jpg");
}

h1 {
  text-align: center;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  color: #66fcf1;
  font-family: "Bowlby One SC";
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#calc_buttons {
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(6);
  margin-top: 200px;
  position: relative;
  margin-top: 130px;
}

#reset {
  grid-column: span 4;
}

#calc_buttons > button {
  cursor: pointer;
  font-size: 1.5rem;
  border: 1px solid #c5c6c7;
  outline: none;
  background-color: #1f2833;
  width: 95px;
  height: 80px;
  margin-top: 5px;
  color: #66fcf1;
  font-family: "Bowlby One SC";
  box-shadow: -4px 10px 10px black;
}

#calc_buttons > button:hover {
  background-color: #c5c6c7;
  opacity: 50%;
}

#output {
  font-size: 2.5rem;
  color: #66fcf1;
  grid-column: span 4;
  height: 121px;
  text-align: right;
  border-radius: 2px;
  padding: 5px;
  position: absolute;
  width: 440px;
  background-color: #0b0c10;
  opacity: 0.93;
}

#calculator {
  border: 3px solid black;
  border-radius: 5px;
  height: 600px;
  width: 450px;
  margin-left: auto;
  background-color: rgba(69, 162, 158, 0.5);
  box-shadow: -10px 10px 10px;
  margin-right: auto;
}
